<div id="ftrDiv">
	<table style="display: inline-block;"><tr>
		<td><br><a href="https://www.facebook.com/GeekServ" target="_blank"><img src="../assets/images/facebook43.png" class="socIcn"></a></td>
		<td>Geek Serv LLC<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:geeks@geekservseattle.com">Geeks@GeekServSeattle.com</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><a href="tel:+12069634550" class="phLnk phNum">206.963.4550</a></td>
		<td><br><a href="https://plus.google.com/110967653630021570895/about" target="_blank"><img src="../assets/images/logo-google-plus-white.png" class="socIcn"></a></td></tr></table></div>

<!--Thank you to http://realfavicongenerator.net/ for some of this site's icons-->