<div id="bdyPrntDiv">
    <div id="sliPrntDiv" class="bdyDiv">
        <div class="lblDiv">
            <h1>Fast, Personal Service</h1></div>
        <div id="sliDiv">
            <img src="../assets/images/slideshow01.jpg" id="sliImg"></div>
        <div id="sliDivTxt"><h3>Seattle's best local on-site tech repair and help service, for home or business.</h3></div></div>

    <div id="svcDiv" class="bdyDiv">
        <div id="svcLblDiv" class="lblDiv">
            <h2>We Can Help!</h2></div>
        <div><img src=""></div>
        <div class="txtP" id="svcP">
            <ul id="svcList">
                <h3 class="svcHs" onclick="svcClk(event, dGet('svcDescMR'))">&ndash; Malware Removal</h3>
                <li id="svcDescMR" class="svcDesc">Geek Serv's technicians are experts in cleaning today's adware, trojans, rootkits, and more. Say goodbye to annoying pop-ups, ever-present spam, and the threats of identity theft and wire-fraud.</li>
                <h3 class="svcHs" onclick="svcClk(event, dGet('svcDescSB'))">+ Small/Home Business</h3>
                <li id="svcDescSB" class="svcDesc">Your small business can depend on Geek Serv for any and all of your IT needs - our technicians understand scalable business systems that are efficient today while enabling growth for tomorrow.<br>We also offer monthly plans for cost-effective, ongoing service.</li>
                <h3 class="svcHs" onclick="svcClk(event, dGet('svcDescCR'))">+ Computer Repair</h3>
                <li id="svcDescCR" class="svcDesc">Geek Serv fixes and maintains a range of devices; laptops, desktops, servers, and everything in between. We understand the importance of your data - all of our technicians have specific training in the preservation of damaged or inaccessible files. Don't let your computer's problems inhibit your productivity! Give us a call today and our technicians will come by and quickly get it running better than new.</li>
                <h3 class="svcHs" onclick="svcClk(event, dGet('svcDescPH'))">+ Peripheral Help</h3>
                <li id="svcDescPH" class="svcDesc">Printers, scanners, cameras, backups... too many devices and not enough time to set it all up? Geek Serv's technicians remove the hassle and quickly get you up and running.</li>
                <h3 class="svcHs" onclick="svcClk(event, dGet('svcDescNS'))">+ Network Setup</h3>
                <li id="svcDescNS" class="svcDesc">Modern networks present an array of confusing choices which impact your speed and security. Geek Serv designs and deploys simple, secure access to the information you want so you can get and stay connected, seamlessly.</li>
                <h3 class="svcHs" onclick="svcClk(event, dGet('svcDescDR'))">+ Data Recovery/Backup</h3>
                <li id="svcDescDR" class="svcDesc">Geek Serv specialize in data recovery, often a delicate and time sensitive process. Our technicians understand the the underlying components of modern drives, utilizing cutting edge extraction and repair techniques to save as much of your information as possible. For drives we're physically unable to repair, we'll give you a realistic assessment of your situation and ensure you only invest money in recovery efforts that can succeed.</li>
                <h3 class="svcHs" onclick="svcClk(event, dGet('svcDescSCB'))">+ Sales/Custom Builds</h3>
                <li id="svcDescSCB" class="svcDesc">Geek Serv provides unmatched service and expertise in helping our clients transition from aging, broken hardware to newer, more secure and efficient systems. We offer a range of desktop computing solutions for all needs and price points - we build and customize our own computers so you pay only for the features and power you want.<br>Each purchase comes complete with 30 days of free remote tech support to help you settle in and learn your new machine.</li>
                <h3 class="svcHs" onclick="svcClk(event, dGet('svcDescES'))">+ Emergency Service</h3>
                <li id="svcDescES" class="svcDesc">Geek Serv is a local small business with unmatched flexibility, committed to your productivity. Our technicians can be available for rapid response or off-hours service - call now for rates and details.</li>
            </ul></div></div>

    <div id="tstiDiv" class="bdyDiv">
        <div id="tstiLblDiv" class="lblDiv">
            <h2>What Our Clients Are Saying</h2></div>
        <div id="tstiTbl">
            <table><tr><td id="tstiTopL" rowspan="3" style="width: 200px;"><div class="tstiPicBack"><img src="../assets/images/Mal-R.png" class="tstiPic tstiPicR"></div></td><td colspan="2">Geek Serv was prompt, knew what they were doing, and even helped with an auto industry-specific software we use. My problem was corrected quickly and very much to my satisfaction. </td></tr>
                <tr><td colspan="2" style="text-align: right;">- Bob H. @ Rainier Autobody</td></tr>
                <tr><td>&nbsp;</td><td id="tstiTopR" rowspan="3" style="width: 200px; text-align: right;"><div class="tstiPicBack"><img src="../assets/images/Fem-L.png" class="tstiPic tstiPicL"></div></td></tr>
                <tr><td colspan ="2">Recently I needed a more powerful laptop and was expecting to pay at least twice what I ended up paying. I also felt listened to and as a result, got the help I needed. I wouldn't hesitate to recommend Geek Serv for any computer need I might have.</td></tr>
                <tr><td colspan="2" style="text-align: right;">- Susan K. (Madison Valley, Seattle)</td></tr>
                <tr><td colspan="3"><br></td></tr>
                <tr><td rowspan="3"><div class="tstiPicBack"><img src="../assets/images/Fem-R.png" class="tstiPic tstiPicR"></div></td><td colspan="2">I have used Geek Serv twice and both times I have been very happy with the knowledge, speed, and success of Heath's work. I am a fairly ignorant computer user, yet Heath was patient and understanding about my humble knowledge. I would recommend them to anyone! </td></tr>
                <tr><td colspan="2" style="text-align: right;">- Janet T. (Madison Valley, Seattle)</td></tr>
                <tr><td>&nbsp;</td><td rowspan="3" style="text-align: right;"><div class="tstiPicBack"><img src="../assets/images/Mal-L.png" class="tstiPic tstiPicL"></div></td></tr>
                <tr><td colspan ="2">Thank you for your excellent and timely service. Because of your professionalism I was able to recover valuable documents and return quickly to the business at hand. I am happy to recommend your service.</td></tr>
                <tr><td colspan="2" style="text-align: right;">- William J. (Magnolia, Seattle)</td></tr>
                <tr><td colspan="3"><br></td></tr>
                <tr><td colspan="3" style="text-align: right;"><div id="tstilinksA"><div id="tstilinksB"><a href="testimonials">And more...</a></div></div></td></tr></table></div></div>
</div>